:root{
    --footer-bar-bg-color: #F3974E;
    --footer-bar-text-color: white;
}

.footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width:100%;
    z-index: 10;
    padding: .5rem;
    box-sizing: border-box;
    background-color:var(--footer-bar-bg-color);
}

.footer-bar li {
    list-style-type:none;
}

.footer-bar a{
    color: black;
}