 
  .comment-section{
    padding: 1rem;
    background-color: #344E41;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .comment-card{
    margin-top: 1rem;
    background-color: #A3B18A;
    padding: 1rem;
    border-radius: 1rem;
  }