.toggle-login, .auth-submit-button{
    border: 2px solid white;
    background-color: var(--nav-bar-bg-color);
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    font-size: medium;
    font-weight: 400;
}

.auth-page{
        color: var(--content-text-color);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        max-width: 90%;
    }      
