#title-bar{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    top: 0;
    font-size: 30px;
    background: url("../../assets/forest.jpeg");
    width: 100%;
    height: 9rem;
    margin-bottom: 1rem;
}