
a, a:visited {
    text-decoration: none;
}
.success-message{
    color: green;
}

.error-message{
    color: red;
}
.success-message{
    color: green
}

.error-message{
    color: red;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .content {
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-bar {
    background-color: #344E41;
    padding: .5rem;
    color: white;
  }
  

body {
    background-color: #DAD7CD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.article-container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .new-content-button {
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    text-decoration: none !important;
 }

 .edit-content-button{
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    text-decoration: none !important;
 }

 .edit-content-button:visited{
    color:inherit;
    
 }


 .navigation-container{
    margin-bottom: 2rem;
 }